<ion-header >
  <ion-toolbar color="primary">
    <ion-title>Viaje</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding letritas">

  <h1>Viaje Actual</h1>
  <div class="map" #map ></div>

  <ion-card>
    <ion-card-content *ngIf="viaje">
      <ion-label *ngIf="viaje && viaje.inicionom">
        <h2 slot="start">Inicio Viaje:</h2>
        <div class="name" slot="start">&nbsp;{{ viaje.inicionom }}</div>
      </ion-label>
      <br>
      <ion-label *ngIf="viaje && viaje.inicionom">
        <h2 slot="start">Termino Viaje:</h2>
        <div class="name" slot="start">&nbsp;{{ viaje.nomdestino }}</div>
      </ion-label>
      <br>
      <ion-label *ngIf="viaje && viaje.inicionom">
        <h2 slot="start">Costo:</h2>
        <div class="name" slot="start">&nbsp;{{ viaje.costo }}</div>
      </ion-label>
      <br>
      <ion-label *ngIf="conductor && conductor.nombre">
        <h2 slot="start">Conductor:</h2>
        <div class="name" slot="start">&nbsp;{{ conductor.nombre }}</div>
      </ion-label>
      <br>
      <ion-label *ngIf="conductor && conductor.nombre">
        <h2 slot="start">Pasajero Nro1:</h2>
        <div class="name" slot="start">&nbsp;{{nom1 }}</div>
      </ion-label>
      <br>
      <ion-label *ngIf="conductor && conductor.nombre">
        <h2 slot="start">Pasajero Nro2:</h2>
        <div class="name" slot="start">&nbsp;{{ nom2}}</div>
      </ion-label>
      <br>
      <ion-label *ngIf="conductor && conductor.nombre">
        <h2 slot="start">Pasajero Nro3:</h2>
        <div class="name" slot="start">&nbsp;{{nom3}}</div>
      </ion-label>
      <br>
      <ion-label *ngIf="conductor && conductor.nombre">
        <h2 slot="start">Pasajero Nro4:</h2>
        <div class="name" slot="start">&nbsp;{{nom4 }}</div>
      </ion-label>
      <ion-label *ngIf="uid == true">
        <ion-button (click)="eliminarviaje()">Terminar Viaje</ion-button>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>