


 

  <ion-content class="ion-padding letritas">
  <br><br><br>
    <div class="map" #map ></div>
    

        <form [formGroup]="newViajeForm" (ngSubmit)="CrearViaje()">
          <ion-item>
            <ion-label position="floating">Adonde Vas?</ion-label>
            <ion-input formControlName="terminoV" labelPlacement="stacked" type="text"></ion-input>
            <ion-button slot="end" (click)="calcularViaje()">Actualizar ruta</ion-button>
          </ion-item>
  
          <ion-item>
            
            <ion-label position="floating">Cantidad de pasajeros</ion-label>
            <ion-input formControlName="NroPasajeros"  labelPlacement="stacked" type="number"></ion-input>
          </ion-item>

          <ion-item>
            
            <ion-label position="floating">Costo Viaje</ion-label>
            <ion-input formControlName="costo"  labelPlacement="stacked" type="number"></ion-input>
          </ion-item>
          <br>
          <ion-button slot="start" type="submit">Ingresar Viaje</ion-button>
        </form>
  
        

</ion-content>