<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding letritas">
  <br><br><br><br>
  <ion-title class="centertext"><b> Registro de Usuario </b></ion-title>

  <ion-card class="letritas">
    <ion-card-header>
      <ion-img src="./assets/avatar.png"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-input label="Correo Electronico"
                  label-placement="floating "
                  placeholder="AAAAAA@GMAIL.COM"
                  fill="solid"
                  type="email"></ion-input>
        <br>
        <ion-input label=" Nombre de Usuario"
                  label-placement="floating "
                  placeholder="Pepito"
                  fill="solid">
      </ion-input>
      <br>
      <ion-input label=" Contraseña"
                  label-placement="floating "
                  placeholder="***********"
                  fill="solid">
      </ion-input>
      <br>
      <ion-input label="Repetir Contraseña"
      label-placement="floating "
      placeholder="***********"
      fill="solid">
      </ion-input>
      <br>  
      <ion-button >Ingresar</ion-button>
      </ion-card-content>

  </ion-card>
</ion-content>
